<h1 class="fw-lighter">ADD NEW EMPLOYEE</h1> <br>

<form class="row g-3 w-25" [formGroup]="employeeForm" (ngSubmit)="onFormSubmitted(employeeForm.value)">
  <input type="text" class="form-control" placeholder="First name" aria-label="First Name"> <br>
  <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"><br>
  <input type="number" class="form-control" placeholder="Age" aria-label="Age"><br>
  <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone number"><br>
  <input type="submit" class="btn btn-primary w-50" value="Add employee">


</form>




