<h1 class="fw-lighter">EMPLOYEE LIST</h1>
<br />

<table class="table table-hover w-50">
  <tbody>
    <th class="table-secondary text-light">Id</th>
    <th class="table-secondary text-light">Name</th>


    <tr *ngFor="let employee of data$ | async">
      <th class="table-secondary table-light">{{ employee.id }}</th>
      <td class="table-secondary table-light">{{ employee.name }}</td>

        <button class="btn btn-outline-primary btn-sm" (click)="remove(employee.id)">
          Remove me
        </button>
          <a routerLink="/employee-details/ {{ employee.id }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>

    </tr>
  </tbody>
</table>


