
<h1 class="fw-lighter">EMPLOYEE LIST</h1>  <br>

<table class=" table table-striped table-hover w-50">
  <tbody>
  <th class="table-secondary text-light">Id</th>
  <th class="table-secondary text-light">Name</th>
  <th class="table-secondary text-light">Age</th>
  <th class="table-secondary text-light">Salary</th>
  <th class="table-secondary text-light">Remove employee </th>

<tr *ngFor="let employee of data$ | async">
  <th class="table-secondary table-light">{{employee.id}}</th> <td class="table-secondary table-light">{{employee.name}}</td>  <td class="table-secondary table-light">{{employee.age}}</td> <td class="table-secondary table-light">{{employee.salary}}</td>
  <td class="table-secondary table-light"><button class="btn btn-outline-primary"(click)="remove(employee.id)">Remove me</button></td>

</tr>
  </tbody>
</table>






