/* You can add global styles to this file, and also import other style files */
body {
  background: beige;
}

h1{
  color: navajowhite;
  text-shadow: 2px 2px 4px #000000;

}

ul{
  list-style-type: circle;

}


img{
  height: 100px;
  width: 100px;




}
