body {
  background-image: url("background.jpg");
  background-size: cover;


}
h1 {

  font-size: 45px;


}


 tr td {
  border: 1px solid;
  line-height: 30px;
  width: 150px;
   text-align: center;


    }
th {
  border: 1px solid grey;
  background-color: #2f62ff;
  text-align: center;




;
}
input {
  border-radius: 8px;
  display: grid;

}

input[type=text] {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 15px 12px 10px;
}
input[type=number] {
  padding: 12px 15px 12px 10px;
}
input[type=submit] {
  padding: 12px 15px 12px 10px;
}




